:root {
  --game-font: "Seymour One",sans-serif;
  --speech-font: "Sofia Sans",sans-serif;
  --dark-purple: #12164b;
  --dark-blue: #2a76b4;
  --light-blue: #79b9ff;
  --white: #fff;
  --light-grey: #ddd;
}